* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .fs-xx-small {
  font-size: 8px;
}

.fs-x-small {
  font-size: 10px;
}

.fs-small {
  font-size: 12px;
}

.fs-medium {
  font-size: 14px;
}

.fs-large {
  font-size: 16px;
}

.fs-x-large {
  font-size: 18px;
}

.fs-xx-large {
  font-size: 20px;
} */

.clickable {
  cursor: pointer;
}
